* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: rgb(40, 40, 45);
    text-align: center;
}

.title {
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    background-color: transparent;
}

.main {
    width: 100%;
    height: 90vh;
    background-color: rgb(60, 60, 65);
    position: relative;
    display: grid;
}

.p-intro {
    width: 50%;
    color: white;
    font-size: 20px;
    outline: solid rgb(191, 191, 191) 1px;
    border-radius: 5px;
    padding: 15px;
}